<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="itu.dk.aamj.model"
            class="intent.IntentPackage"
            genModel="model/intent.genmodel"/>
   </extension>

</plugin>
