<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="intent.presentation.IntentModelWizardID"
            name="%_UI_IntentModelWizard_label"
            class="intent.presentation.IntentModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/IntentModelFile.gif">
         <description>%_UI_IntentModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="intent.presentation.IntentEditorID"
            name="%_UI_IntentEditor_label"
            icon="icons/full/obj16/IntentModelFile.gif"
            extensions="intent"
            class="intent.presentation.IntentEditor"
            contributorClass="intent.presentation.IntentActionBarContributor">
      </editor>
   </extension>

</plugin>
